{{!-- <nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>Radixm</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">About</LinkTo>
    <LinkTo @route="contact" class="menu-contact">Contact</LinkTo>
  </div>

</nav> --}}
<BsNavbar
  @type="light"
  @backgroundColor="light"
  as |navbar|
>
  <LinkTo @route="index" class="navbar-brand">Radixm</LinkTo>
  <navbar.toggle/>
  <navbar.content>
    <navbar.nav as |nav|>
      <nav.item>
        <nav.link-to @route="index">Calculator</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="converter">Converter</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="testgame">Test Yourself</nav.link-to>
      </nav.item>
    </navbar.nav>
  </navbar.content>
  <a href="https://903hosting.co.uk">
    <img src="/assets/images/903-referral.png" alt="903 hosting" height="40"/>
  </a>
</BsNavbar>